In [15]:
import pandas as pd
import numpy as np

df_1961 = pd.read_csv('date_1961.csv', sep = ',')
df_2016 = pd.read_csv('date_2016.csv', sep = ',')

In [17]:
df_1961.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8030 entries, 0 to 8029
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CODST    8030 non-null   int64
 1   ALT      8030 non-null   float64
 2   LAT      8030 non-null   float64
 3   LON      8030 non-null   float64
 4   DATCLIM  8030 non-null   object
 5   TMED     8030 non-null   float64
 6   TMAX     8030 non-null   float64
 7   TMIN     8030 non-null   float64
dtypes: float64(6), int64(1), object(1)
memory usage: 502.0+ KB

In [19]:
df_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8418 entries, 0 to 8417
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CODST    8418 non-null   int64
 1   ALT      8418 non-null   float64
 2   LAT      8418 non-null   float64
 3   LON      8418 non-null   float64
 4   DATCLIM  8418 non-null   object
 5   TMED     8418 non-null   float64
 6   TMAX     8418 non-null   float64
 7   TMIN     8418 non-null   float64
dtypes: float64(6), int64(1), object(1)
memory usage: 526.3+ KB

In [21]:
df_1961.isnull().sum()

CODST      0
ALT        0
LAT        0
LON        0
DATCLIM    0
TMED       0
TMAX       0
TMIN       0
dtype: int64

In [23]:
df_2016.isnull().sum()

CODST      0
ALT        0
LAT        0
LON        0
DATCLIM    0
TMED       0
TMAX       0
TMIN       0
dtype: int64

In [25]:
#Combinarea celor 2 seturi de date

#adaugare coloana noua cu anul inregistrarii
df_1961['an inregistrare'] = 1961
df_2016['an inregistrare'] = 2016

#combinare date intr-un dataframe
df_combined = pd.concat([df_1961, df_2016], ignore_index=True)

In [27]:
df_combined.head()

,CODST,ALT,LAT,LON,DATCLIM,TMED,TMAX,TMIN,an inregistrare
0,15015,503.0,47.776944,23.940556,1/1/1961,-0.1,1.0,-1.3,1961
1,15015,503.0,47.776944,23.940556,1/2/1961,1.2,4.2,-1.3,1961
2,15015,503.0,47.776944,23.940556,1/3/1961,4.0,7.2,1.2,1961
3,15015,503.0,47.776944,23.940556,1/4/1961,6.0,12.4,0.6,1961
4,15015,503.0,47.776944,23.940556,1/5/1961,6.4,8.6,4.2,1961

In [29]:
df_combined.tail()

,CODST,ALT,LAT,LON,DATCLIM,TMED,TMAX,TMIN,an inregistrare
16443,15480,12.8,44.213889,28.645556,12/27/2016,2.1,5.6,-0.6,2016
16444,15480,12.8,44.213889,28.645556,12/28/2016,0.7,2.1,-1.5,2016
16445,15480,12.8,44.213889,28.645556,12/29/2016,1.6,2.7,0.5,2016
16446,15480,12.8,44.213889,28.645556,12/30/2016,0.4,1.5,-0.5,2016
16447,15480,12.8,44.213889,28.645556,12/31/2016,-1.5,1.5,-2.8,2016

In [31]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16448 entries, 0 to 16447
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CODST            16448 non-null  int64
 1   ALT              16448 non-null  float64
 2   LAT              16448 non-null  float64
 3   LON              16448 non-null  float64
 4   DATCLIM          16448 non-null  object
 5   TMED             16448 non-null  float64
 6   TMAX             16448 non-null  float64
 7   TMIN             16448 non-null  float64
 8   an inregistrare  16448 non-null  int64
dtypes: float64(6), int64(2), object(1)
memory usage: 1.1+ MB

In [33]:
df_combined.to_csv('date_meteo.csv', index=False)

In [39]:
#Calcul medie la fiecare statie pentru fiecare an
medii_statii=df_combined.groupby(['CODST', 'an inregistrare'])['TMED'].mean().reset_index()
medii=medii_statii.pivot(index='CODST', columns='an inregistrare', values='TMED')
medii['Diferenta temp'] = medii[2016]-medii[1961]

#Export date
medii.reset_index().to_csv('comparatie_temperaturi_1961_2016.csv', index=False)